@model LanguageTracker.Controllers.LabHours

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LabHours</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="instructors" class="control-label"></label>
                <input asp-for="instructors" class="form-control" />
                <span asp-validation-for="instructors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sid" class="control-label"></label>
                <input asp-for="sid" class="form-control" />
                <span asp-validation-for="sid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total_days" class="control-label"></label>
                <input asp-for="total_days" class="form-control" />
                <span asp-validation-for="total_days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total_hours" class="control-label"></label>
                <input asp-for="total_hours" class="form-control" />
                <span asp-validation-for="total_hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
