@{
    ViewData["Title"] = "Home Page";
}
<table id="labData" class="w-auto table table-responsive table-striped">
    <!-- column headers -->
    <thead>
        <tr>
            <th>Full Name</th>
            <th>SID#</th>
            <th>Total Days</th>
            <th>Total Hours</th>
            <th>Instructor</th>
        </tr>
    </thead>
    <tbody>
        <!-- data values -->
        <tr>
            <td>Prelesnik, Mike</td>
            <td>1</td>
            <td>20</td>
            <td>23:35:00</td>
            <td>Chanda</td>
        </tr>
        <tr>
            <td>Bowden, Phil</td>
            <td>2</td>
            <td>1</td>
            <td>47:00:00</td>
            <td>Chanda</td>
        </tr>
        <tr>
            <td>Daus, Ean</td>
            <td>3</td>
            <td>14</td>
            <td>1:05:00</td>
            <td>Chanda</td>
        </tr>
        <tr>
            <td>Williams, Amanda</td>
            <td>4</td>
            <td>14</td>
            <td>15:20:00</td>
            <td>Chanda</td>
        </tr>
        <tr>
            <td>Alexander, Nic</td>
            <td>5</td>
            <td>16</td>
            <td>19:30:00</td>
            <td>Marisela</td>
        </tr>
        <tr>
            <td>Absher, Marcus</td>
            <td>6</td>
            <td>1</td>
            <td>1:00:00</td>
            <td>Chanda</td>
        </tr>
        <tr>
            <td>Smith, Jordan</td>
            <td>7</td>
            <td>2</td>
            <td>2:15:00</td>
            <td>Marisela</td>
        </tr>
        <tr>
            <td>Leano, Celine</td>
            <td>8</td>
            <td>4</td>
            <td>3:40:00</td>
            <td>Marisela</td>
        </tr>
        <tr>
            <td>Eshe, Brooks</td>
            <td>9</td>
            <td>4</td>
            <td>5:00:00</td>
            <td>Marisela</td>
        </tr>
        <tr>
            <td>Gabriel, Sam</td>
            <td>10</td>
            <td>10</td>
            <td>10:45:00</td>
            <td>Marisela</td>
        </tr>
        <tr>
            <td>Carlson, Keith</td>
            <td>11</td>
            <td>26</td>
            <td>32:50:00</td>
            <td>Chanda</td>
        </tr>
        <tr>
            <td>Van-Etten, Alec</td>
            <td>12</td>
            <td>28</td>
            <td>45:00:00</td>
            <td>Marisela</td>
        </tr>
        <tr>
            <td>Gonzalez, Adolfo</td>
            <td>13</td>
            <td>5</td>
            <td>7:15:00</td>
            <td>Marisela</td>
        </tr>
        <tr>
            <td>Skar, Brandon</td>
            <td>14</td>
            <td>3</td>
            <td>3:30:00</td>
            <td>Marisela</td>
        </tr>
        <tr>
            <td>Ostrander, Tina</td>
            <td>15</td>
            <td>2</td>
            <td>2:15</td>
            <td>Marisela</td>
        </tr>
    </tbody>
</table>
