@{
    ViewData["Title"] = "Upload";
}

<h1>Upload</h1>
<div>
    <form method="post" enctype="multipart/form-data" asp-controller="LanguageTracker" asp-action="Import">
        <label>
            CSV File
            <input type="file" name="excelFile">
        </label>
        <br>
        <input type="submit" value="Import">
    </form>

</div>

