@model LanguageTracker.Models.ACTFL

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ACTFL</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="YearQuarterID" class="control-label"></label>
                <input asp-for="YearQuarterID" class="form-control" />
                <span asp-validation-for="YearQuarterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemNumber" class="control-label"></label>
                <input asp-for="ItemNumber" class="form-control" />
                <span asp-validation-for="ItemNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SID" class="control-label"></label>
                <select asp-for="SID" class="form-control" asp-items="ViewBag.SID"></select>
                <span asp-validation-for="SID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proficiency_Area" class="control-label"></label>
                <input asp-for="Proficiency_Area" class="form-control" />
                <span asp-validation-for="Proficiency_Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reading" class="control-label"></label>
                <input asp-for="Reading" class="form-control" />
                <span asp-validation-for="Reading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Writing" class="control-label"></label>
                <input asp-for="Writing" class="form-control" />
                <span asp-validation-for="Writing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speaking" class="control-label"></label>
                <input asp-for="Speaking" class="form-control" />
                <span asp-validation-for="Speaking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Listening" class="control-label"></label>
                <input asp-for="Listening" class="form-control" />
                <span asp-validation-for="Listening" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
